@import 'variables';

html, body {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  background: @white;
  margin: 0;
  color: @bodyTextGrey;
  * {
    box-sizing: border-box;
  }
}

a {
  color: darken(@green, 20%);
  font-weight: 500;
  &:hover,
  &:active {
    color: @green;
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto 2rem auto;
  padding: 0 3rem;
}

#app {
  overflow: hidden;
}

#main-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#cms-exp-label {
  position: absolute;
  top: 0;
  right: 0;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  font-weight: 500;
  div {
    position: absolute;
    top: 5rem;
    right: -5.2rem;
    background: @hotPink;
    color: @white;
    padding: 1rem 4rem;
    transform: rotate(45deg);
    white-space: pre;
  }
}

#navbar {
  background: @black;
  a {
    display: inline-block;
    padding: 1.8rem 2.5rem;
    color: @white;
    text-decoration: none;
    &:hover {
      background: darken(@navItemBg, 15%);
    }
    &.active {
      background: @navItemBg;
    }
  }
}

.page-type-label {
  display: inline-block;
  background: lighten(@hotPink, 10%);
  color: @white;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.2rem 2rem;
  border-radius: .4rem;
}

.kits-gallery {
  display: flex;
  flex-flow: row wrap;
}

.curr-kit-thumb {
  background: lighten(@green, 20%);
  flex-basis: calc(~"100%/2 - 1rem");
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  border-radius: 3rem 0;
  color: @bodyTextGrey;
  text-decoration: none;
  &:nth-child(2n+1) {
    margin-right: 2rem;
  }
  &:hover,
  &:active {
    background: darken(@green, 20%);
    color: @white;
  }
  h3 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
}

.blog-post-thumb {
  margin-bottom: 2rem;
  &:not(:last-child) {
    margin-top: 2rem;
  }
  h3 {
    margin-bottom: .5rem;
  }
}

.blog-post {
  * {
    max-width: 100%;
    height: auto;
  }
}

.blog-post,
.blog-post-thumb {
  .meta {
    font-size: 1.4rem;
    color: lighten(@bodyTextGrey, 25%);
    .fa {
      margin-right: .5rem;
      &:not(:first-child) {
        margin-left: 1.5rem;
      }
    }
  }
}

#emoji {
  font-size: 2rem;
  text-align: right;
  margin-top: 5rem;
}
